* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
	text-decoration: none;
	word-break: keep-all;
	line-height: 1.6;
}

h1 {
	line-height: 1.2;
}
